 <div>
   <% if @book.errors.any? %>

      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h2>
      <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      </div>
   <% end %>
</div>

<main>
 <p id="notice"></p>
  <div class="container">
   <div class="row">
    <div class="col-md-3">
      <%= render 'profile', book: @book, user: @user %>
      <div class="col-md-8 offset-md-1">
       <h2>Books</h2>
        <table>
         <% @books.each do |f| %>
         <tr>
           <td>Title</td>
           <td>Opinion</td>
         </tr>
         <tr>
           <td><%= image_tag @user.get_profile_image(100,100) %></td>
           <td><%= f.title %></td>
           <td><%= f.body%></td>
         </tr>
         <% end %>
        </table>
      </div>
     </div>
    </div>
   </div>
  </div>
</main>

</div>
<footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
</footer>